notebooks/game-generation-6db9c-aef76f1917f8.json

latex/out/dsl_doc.aux
latex/out/dsl_doc.out
latex/out/dsl_doc.pdf
latex/out/pddl.aux

*/__pycache__/*
**/.DS_Store
notebooks/sandbox.ipynb
data/fitness_scores_with_predicate_features_by_section.csv
data/ast-real-regrowth-samples-gtr-t5-xl-embeddings.pt
data/ast-real-regrowth-samples-mmarco-minilm-embeddings.pt
data/interactive-beta-gtr-t5-xl-embeddings.pt
data/interactive-beta-mmarco-minilm-embeddings.pt
dsl/ast-real-regrowth-samples-1024-old.pddl
dsl/cache/ast-real-regrowth-samples-1024-cache.pkl.gz

tmp/**/*
notes.md

samples/every_gen

.vscode/sftp.json
run/profile_evo_sampler.sh
**/lightning_logs/
**/lightning_logs/*
**/lightning_logs/**/*
wandb/*
# reward-machine/traces/*
reward-machine/temp/**/*
reward-machine/traces/participant-traces/*.json
reward-machine/traces/participant-traces/*.zip
reward-machine/.DS_Store
run/test.py
.vscode/launch.json
**/*.backup.gz
notebooks/predicate_statistics_modified_bitstring_intervals_028b3733.pkl.gz
output.html
notebooks/build/**/*

notebooks/stan_models/caches/**/*

notebooks/stan_models/ordinal/ordinal_model_game_type_and_fitness
notebooks/stan_models/ordinal/ordinal_model_participant_effect
notebooks/stan_models/ordinal/ordinal_model_participant_effect_game_effect_archive_distance
notebooks/stan_models/ordinal/ordinal_model_participant_effect_game_effect_archive_distance_model_game
notebooks/stan_models/ordinal/ordinal_model_participant_effect_hierarchical_game
notebooks/stan_models/ordinal/ordinal_model_participant_effect_hierarchical_game_intercept
notebooks/stan_models/ordinal/ordinal_model_participant_hierarchical
notebooks/stan_models/ordinal/ordinal_model_participant_hierarchical_sigma

notebooks/stan_models/model_game_type_and_fitness
notebooks/stan_models/model_participant_effect
notebooks/stan_models/model_participant_effect_hierarchical_game
notebooks/stan_models/model_participant_effect_hierarchical_game_intercept
notebooks/stan_models/model_participant_hierarchical
notebooks/stan_models/model_participant_hierarchical_sigma
