backoff==2.2.1
boolean.py==4.0
cachetools==5.3.1
duckdb==0.9.0
GitPython==3.1.31
inflect==6.0.4
ipython==8.13.1
jsonschema==4.18.0
krippendorff==0.6.1
Levenshtein==0.21.0
matplotlib==3.6.2
msgpack==1.0.5
multiprocess==0.70.15
networkx==3.2.1
nltk==3.8.1
numpy==1.23.4
openai==1.30.4
pandas==1.5.2
polars==0.18.9
pydantic==1.10.9
pytest==7.4.0
scikit_learn==1.2.0
scikit-spatial==7.0.0
scipy==1.13.0
sqlparse==0.4.4
statsmodels==0.14.1
tabulate==0.9.0
tatsu==5.8.3
torch==1.13.1
tqdm==4.64.1
viztracer==0.15.6
wandb==0.15.10
